
body{
    background-color: rgb(246, 248, 248);
    display:contents

}

.KSHPR {
  text-align: center; 
}
header{
  border: solid;
  border-color: rgb(49, 255, 30);
  border-top: 10%;
  background-color: DodgerBlue;
  border-radius: 10px;
}
header h1{
    text-align: center;  
    font-family: monospace; 
    color: aliceblue;
   
}

header img{
   
  
    width: 10%;
    height: 10%;
  
}
.line{
    text-align: center;
}

.news{
    display: block;
    color: brown;
    background-color: rgb(252, 227, 9);

   
}
.button {
   margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
    background-color:cadetblue;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}
.button:hover {
   
     background-color:rgb(6, 105, 109);
 }
a {
    text-decoration: none;
}
.mid{
    background-color: rgb(0, 183, 255);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.mid h4{
    margin-left: 10px;
}
.mid p{
    margin-left: 10px;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    width: 99%!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.table_c{
    margin-left: 10px;
}
.JOIN{
   
   margin-top: 5px;
    margin-left: 40px;
    background-color: #16b808; 
    border-color: rgb(31, 214, 7);
    color: rgb(17, 16, 16);
    border-radius: 5px;
   
}
.JOIN:hover{
    background-color: #03fa10;
    border-radius: 5px;
    color: rgb(221, 127, 13);
    border-color: rgb(31, 214, 7);
  
    
}
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.footer {
    background-color:rgb(65, 64, 64);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    display: block;
}
footer {
    display: block;
}
.icon a{
    color: chocolate;
    size: 100%;
    
}
.icon a:hover{
    color: rgb(253, 252, 251);
    size: 100%;
    
}
.footer__title{
    font-family:monospace;
    font-size: 20px;
}
