
body{
    background-color: rgb(246, 248, 248);
}
.KSHPR {
  text-align: center; 
}
header{
  border: solid;
  border-color: rgb(49, 255, 30);
  border-top: 10%;
  background-color: DodgerBlue;
  border-radius: 10px;
}
header h1{
    text-align: center;  
    font-family: monospace; 
    color: aliceblue;
   
}
header img{
   
  
    width: 10%;
    height: 10%;
  
}
.line{
    text-align: center;
}
.news{
    color: brown;
    background-color: rgb(252, 227, 9);
    border-radius: 5px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    width: 99%!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.JOIN{
   
    margin-top: 10px;
    background-color: #16b808; 
    border-color: rgb(31, 214, 7);
    color: rgb(17, 16, 16);
    border-radius: 5px;
   
}
.JOIN:hover{
    background-color: #03fa10;
    border-radius: 5px;
    color: rgb(221, 127, 13);
    border-color: rgb(31, 214, 7);
  
    
}

